div#container
{
   width: 353px;
   position: relative;
   margin-top: 0px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
body
{
   font-size: 8px;
   line-height: 1.1875;
   text-align: center;
   margin: 0;
   background-color: transparent;
   color: #000000;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
#indexImage42
{
   border: 0px #000000 solid;
}
#wb_indexForm3
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#indexEditbox5
{
   border: 1px #A9A9A9 none;
   background-color: transparent;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   vertical-align: middle;
}
#indexEditbox6
{
   border: 1px #A9A9A9 none;
   background-color: transparent;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   vertical-align: middle;
}
#wb_indexText33 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText33 div
{
   text-align: center;
}
#wb_indexText34 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText34 div
{
   text-align: left;
}
#indexImage46
{
   border: 0px #000000 solid;
}
#indexEditbox7
{
   border: 1px #A9A9A9 none;
   background-color: transparent;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   vertical-align: middle;
}
#indexButton3
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_header1
{
text-shadow: 1px 1px #0c779d;
color: red;
}
